---
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import Layout from "../../layouts/Pages.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<Layout>
  <section>
    <div class="flex flex-col-reverse">
      {
        posts.map((post) => (
          <a
            href={`/blog/${post.slug}/`}
            class="border-y border-zinc-800 bg-neutral-900
            hover:bg-neutral-800 transition-all p-4 mb-5"
          >
            <div>
              <FormattedDate date={post.data.pubDate} />
              <span>{post.data.title}</span>
            </div>
          </a>
        ))
      }
    </div>
  </section>
</Layout>
