---
import Layout from "../layouts/Pages.astro";
---

<Layout title="Home" description="Home page">
  <h1 class="text-5xl font-bold mb-5">Olá, Welcome to my blog</h1>
  <p class="text-neutral-300 font-medium text-lg">
    I'm a passionate software development and graphic design enthusiast who
    loves to create. <br /><br />
    Here, I'll share my personal experience exploring new ideas and tackling challenging
    problems and concepts related to software development.<br />I'm always
    looking for ways to improve my skills and knowledge, through my blog, I'll
    share my successes and failures, as well as the lessons I've learned along
    the way. I hope you'll find my blog to be a valuable resource. <br /><br /> Thank
    you for joining me on this journey, and I look forward to sharing more with you
    soon!
  </p>
  <div class="py-5">
    <h1 class="text-3xl font-bold mb-5">Some of my works</h1>
    <div
      class="border-l-4 border-neutral-600 bg-neutral-800 bg-opacity-[50%] hover:bg-neutral-800 transition-all p-2"
    >
      <a href="https://github.com/distvision/BlogFolio-client">
        <h1 class="text-xl font-bold mb-2 text-neutral-400">
          Blog with sanity
        </h1>
        <p class="text-sm font-medium text-neutral-400">
          A diferent version of this blog, made with react and sanity as cms
        </p>
      </a>
    </div>
  </div>
</Layout>
