---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "flowbite";

// type Props = CollectionEntry<"blog">["data"];

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="m-auto text-left bg-neutral-900 break-words leading-normal text-neutral-300"
  >
    <header class="fixed w-full top-0">
      <Header />
    </header>
    <main class="mt-24">
      <h1 class="text-2xl font-thin uppercase mb-5 py-6 text-center border-b-2">
        {title}
      </h1>
      <div class="px-6">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
