---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import NewHeader from "../components/NewHeader.astro";

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body
    class="m-auto text-left bg-neutral-900 break-words leading-normal text-neutral-300 relative"
  >
    <header class="">
      <NewHeader />
    </header>
    <main class="mt-6 max-w-4xl mx-auto">
      <div class="px-6 md:px-16">
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>
